[submodule "plugins/zsh-autocomplete"]
	path = plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "themes/spaceship-prompt"]
	path = themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
